@model Embaixadas.Models.Embaixada

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Embaixada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais.PaisId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmbaixadaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
