@model Embaixadas.Models.Embaixada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Embaixada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmbaixadaEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmbaixadaEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais.PaisId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmbaixadaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
